@mixin d-flex_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin d-flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}