@use './partials/_mixins.scss' as *;
@use './partials/_variables.scss' as *;


// RESET AND GENERAL RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

// DEBUG
.debug {
    border: 1px solid black;
    height: 70%;
    max-height: 300px;
    width: 200px;
}

// UTILITIES 
.container {
    margin: 0 auto;
    width: 73%;
}

// GRID 
.row {
    @include d-flex_between_center;
    gap: $grid-spacing;
}

.col {
    border: 1px solid blue;
    min-height: 500px;
    width: calc(100% / 3 - $grid-spacing * 2);
}