// import mixins and variables
@use './partials/_mixins.scss' as *;
@use './partials/_variables.scss' as *;

// Import Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


// RESET AND GENERAL RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

p,
h1,
h2 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 65%;
}

// DEBUG
.debug {
    border: 1px solid aqua;
    height: 70%;
    max-height: 300px;
    // width: 200px;
}

// layover
.layover {
    backdrop-filter: blur(5px) grayscale(70%);

    @include d-flex_center_center;

    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;

}

// product tags
.tags {
    position: absolute;
    bottom: 100px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;

    &.discount {
        background-color: red;
    }

    &.category {
        background-color: green;
    }
    
}
